ion-grid {
    background-color: #F2F2E9;
}

.art {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #F2F2E9;
    margin-right: 0.5rem;
}

ion-item,
img {
    cursor: pointer;
}

ion-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Oswald", sans-serif;
    font-size: 1.2rem;

    .info-artista {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    div.botones {
        flex-shrink: 0;
        margin-left: auto;

        button {
            padding: 0.5rem 1rem;
            font-size: 1rem;
            cursor: pointer;
            background-color: #F2F2E9;
            color: #0D0D0D;
            border: 0.2rem solid #0D0D0D;
        }
    }
}

.fecha {
    width: 100%;
    text-align: right;
    font-size: 0.8rem;
    color: #F2F2E9;
    opacity: 0.8;

}

.events {
    border-bottom: 0.1rem solid #F2F2E9;
}