<div class="footer-container">
  <div class="redes-sociales">
    ¡Síguenos en nuestras redes sociales!
    <div>
      <img src="assets/SVG/instagram.svg" alt="Instagram" class="icon-white" />
      <img src="assets/SVG/facebook.svg" alt="Facebook" class="icon-white" />
      <img src="assets/SVG/youtube.svg" alt="YouTube" class="icon-white" />
    </div>
  </div>
  <div class="settings">
    <div>
      <div>Servicios e información</div>
      <a [routerLink]="['/information']" fragment="terminos">Términos y condiciones</a>
      <a [routerLink]="['/information']" fragment="privacidad">Política de privacidad</a>
      <a [routerLink]="['/information']" fragment="cookies">Política de cookies</a>
      <a [routerLink]="['/information']" fragment="aviso">Aviso legal</a>
    </div>
    <div>
      <div>Métodos de pago</div>
      <img src="assets/SVG/visa.svg" alt="Visa" class="icon-black" />
      <img src="assets/SVG/mastercard.svg" alt="MasterCard" class="icon-black" />
    </div>
  </div>
  <div>
    <div class="copyright">
      © 2025 - Todos los derechos reservados.
    </div>
  </div>
</div>